<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bartek.projektjava">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LogowanieActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DodajSprawdzianActivity" />
        <activity android:name=".OcenyUzytkownikaActivity" />
        <activity android:name=".ListaSprawdzianowActivity" />
        <activity android:name=".ListaUzytkownikowActivity" />
        <activity android:name=".EdytujSprawdzianActivity" />
        <activity android:name=".EdytujOceneActivity" />
        <activity android:name=".DodajOceneDoSprawdzianuActivity" />
        <activity android:name=".DodajUzytkownikaActivity" />
        <activity android:name=".EdytujUzytkownikaActivity" />
        <activity android:name=".AdminPanelActivity"></activity>
    </application>

</manifest>
